<section class="container-fluid">
    <div class="row bg-dark text-white">
     
      <div class="col-lg-7 p-0">
        <div id="carouselCidades" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselCidades" data-slide-to="0" class="active"></li>
            <li data-target="#carouselCidades" data-slide-to="1"></li>
            <li data-target="#carouselCidades" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../../../assets/img/design.png" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4">Lorem</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/img/tech.png" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4">Dolor</h3>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/img/film.png" alt="California">
              <div class="carousel-caption">
                <h3 class="display-4">Ipsum</h3>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" data-target="#carouselCidades" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" data-target="#carouselCidades" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
          </a>
        </div>
      </div>
      
      <div class="col-lg-5 p-4 align-self-center">
        <h1 class="display-4">Lorem ipsum dolor sit amet</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet</p>
        <form action="">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Email" aria-label="Email">
            <span class="input-group-append">
              <button class="btn btn-primary" type="button">Lorem ipsum</button>
            </span>
          </div>
        </form>
      </div>
      
    </div>
  </section>
  
  <section class="py-5 bg-light text-center" id="servicos">
    <div class="container">
      <div class="my-5">
        <span class="h6 d-block">A QUALIDADE QUE VOCÊ PRECISA</span>
        <h2 class="display-4 text-primary">Nossos Serviços</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="../../../assets/img/tech-icon.png" alt="Passaporte">
          </div>
          <h3>IT Solutions</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nemo nulla.</p>
        </div>
        
        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="../../../assets/img/content-icon.png" alt="Passagens">
          </div>
          <h3>Content Marketing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nemo nulla.</p>
        </div>
        
        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="../../../assets/img/design-icon.png" alt="Translado">
          </div>
          <h3>Design Thinking</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nemo nulla.</p>
        </div>
        
        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="../../../assets/img/flyers-icon.png" alt="Praias">
          </div>
          <h3>Cards Creator</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nemo nulla.</p>
        </div>
        
        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="../../../assets/img/support-icon.png" alt="Bagagens">
          </div>
          <h3>Suport</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nemo nulla.</p>
        </div>
        
        <div class="col-xl-4 col-md-6">
          <div style="height: 100px;" class="d-flex justify-content-center">
            <img src="../../../assets/img/movie-icon.png" alt="Turismo">
          </div>
          <h3>Film Maker</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, nemo nulla.</p>
        </div>
        
      </div>
    </div>
  </section>

  <section class="container">
    <div class="my-5 text-center">
      <span class="h6 d-block">AINDA ESTÁ COM DÚVIDAS?</span>
      <h2 class="display-4 text-primary">Perguntas Frequentes</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta1" aria-expanded="true" aria-controls="pergunta1">→ Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          <div id="pergunta1" class="collapse show" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta2" aria-expanded="true" aria-controls="pergunta2">→ Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          <div id="pergunta2" class="collapse" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta3" aria-expanded="true" aria-controls="pergunta3">→ Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          <div id="pergunta3" class="collapse" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta4" aria-expanded="true" aria-controls="pergunta4">→ Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          <div id="pergunta4" class="collapse" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta5" aria-expanded="true" aria-controls="pergunta5">→ Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
          <div id="pergunta5" class="collapse" role="tabpanel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <div class="text-center my-4" id="contato">
      <p class="small m-1">FALE CONOSCO PARA MAIS DÚVIDAS</p>
      <a class="btn btn-primary btn-lg" routerLink="/contato">Entre em Contato</a>
    </div>
  </section>