<section class="container">
    <div class="text-center my-5">
      <span class="h6 d-block">CONHEÇA UM POUCA DA HISTÓRA</span>
      <h1 class="display-4 text-primary">Sobre Nós</h1>
      <p class="my-4">A Priorità Engenharia nasceu em março de 2020 para atuar no ramo da engenharia civil, com o propósito de cooperar, contribuindo com o crescimento e desenvolvimento da sociedade.
        Nós da Priorità, priorizamos uma comunicação transparente com os clientes, nos empenhando para solucionar com agilidade e excelência todas as situações.
        Durante nossa jornada nos especializamos na área de topografia, tendo forte atuação em obras de infraestrutura pública, assessoria e regularização de imóveis em toda a região do Vale do Itajaí.
        A nossa missão é resolver os problemas dos nossos clientes com o nosso conhecimento técnico de engenharia civil e vivência do ramo imobiliário, trabalhando com a qualidade e transparência que são a essência da nossa empresa, buscando proporcionar a melhor experiência para os nossos clientes.</p>
    </div>
    <div class="text-center my-5">
        <span class="h6 d-block">POR TRÁS DISSO TUDO</span>
        <h1 class="display-4 text-primary">Idealizadores</h1>
        <div class="row my-5 justify-content-md-center">
            <div class="col-md-3 mb-5">
                <div class="bg-light rounded p-4 box-shadow">
                    <img src="../../../assets/img/igor-perfil.jpg" alt="" class="img-thumbnail rounded-circle">
                    <h4 class="h6 mt-4">Igor Augusto Venske</h4>
                    <p>ENGENHEIRO CIVIL</p>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <div class="bg-light rounded p-4 box-shadow">
                    <img src="../../../assets/img/iuri-perfil.jpg" alt="" class="img-thumbnail rounded-circle">
                    <h4 class="h6 mt-4">Iuri Alan Deucher</h4>
                    <p>ENGENHEIRO CIVIL</p>
                </div>
            </div>
        </div>
    </div>
  </section>